.header{ 
    height: 100px;
    background-color:#1A1A1B;
    color: white; 
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    font-size: 75px;
} 
.nav {
   background-color: lightgrey;
   overflow: hidden;bv 
}
.nav ul{
    list-style-type: none;
    display:flex;
    justify-content: space-around;
}
.nav ul li{
    float: left;
    padding-right: 20px;
    text-transform: capitalize;
    padding-left: 20px;
    margin-left: 140px;
    font-weight: bold;
    padding-bottom: 0%;  
}
.nav ul li a{
     text-decoration:none ;
     color:black;
}

.container{
    width:100%
}        
    
#nav list li{
    margin: -15px;
}

